<div class="container-fluid">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <h1 style="text-align: center;">Casino management system</h1>
  </nav>
<br>
  <div class="row">
    <div class="col-sm-2">
      <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link active" [routerLink]="['/Home']">Home</a></li>
        <li class="nav-item"><a class="nav-link active" [routerLink]="['/studentdetailsLink']">About Us</a></li>
        <li class="nav-item"><a class="nav-link active" [routerLink]="['/templateDrivenFormsLink']">Enroll Player</a></li>
        <li class="nav-item"><a class="nav-link active" [routerLink]="['/templateDrivenFormsLink']">Search Player</a></li>
      </ul>
    </div>
    <div class="col-sm-6">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
